<div class="container">
  <div class="img">
    <img src="../assets/Article.png" alt="Image">
  </div>
  <div class="head-comments">
    <span>Comments</span>
  </div>
  <div class="comments">
    <ul>
      <li *ngFor="let detail of details">
        <h3>{{ detail.name }} </h3>
        {{ detail.comments }}
      </li>
    </ul>
  </div>
  <div class="comment-container">
    <form>
      <br>
      <h3>Add your comment</h3>
      Name:<br> <input #names type="text" (ng-model)="name"><br>
      Comments:<br> <textarea #comments (ng-model)="comment"></textarea><br><br>
      <button (click)="getValues(names.value, comments.value)">Add comment</button><br><br>
    </form>
  </div>
<footer>
  <app-footer></app-footer>
</footer>
</div>
<router-outlet></router-outlet>
